<mat-card fxLayout="row wrap" fxLayoutAlign="space-around" class="mt-2">

    <h2 class="w-100 text-center py-2">END USER LICENSE AGREEMENT</h2>

    <div class="content-container">

        <div class="mt-2"> This End User License Agreement (EULA) is a binding legal agreement between you, as an individual
        or entity, and Mahatta Multimedia Private Limited (MAHATTA). The services made available to you
        hereunder is licensed to you, and not sold to you. By downloading, accessing, installing or using this
        website (www.indiapicture.in) for any compatible platform, as applicable, you agree to be bound by
        the terms of this EULA. Mahatta reserves all rights in and to the Website and its Services not expressly
        granted to you under this EULA.</div>
        <div class="mt-2">   The services provided to you by MAHATTA by virtue of your access to its Website are for your private
        and non-commercial use only. Use of the Website and Services or of the content available thereof, or
        any other associated services within an organization or otherwise requires a commercial license for
        Services.</div>
        <div class="mt-2">
       <h3> 1.  Description of the Services:</h3>
       <div class="mt-1"> 1.1.  The Website is a freely accessible website, and features content, including but not limited
        to photos, illustrations, vectors, video clips, for public viewing which can be licensed to
        the users at a cost, as per the terms of this EULA and other related policies of MAHATTA.
       </div><div class="mt-1"> 1.2.  You must associate the Website with your individual subscription account to enable and
            access its full functionality.</div>
        </div>
        <div class="mt-2">
            <h3> 2.  Scope of License:</h3>
        <div class="mt-1">  2.1.  MAHATTA grants you a limited, non-transferable, non-exclusive, perpetual, personal
        license to use the Website and Services, as permitted for usage. The terms of this EULA
        will govern any content, materials, or Services as accessible from or purchased within the
        Website as well as any upgrades provided by MAHATTA which replaces, modifies,
        supplements the original licensed Services, unless such upgrade is accompanied by a
        subsequent, custom EULA.
        </div><div class="mt-1"> 2.2.  Exclusive rights in specific content will be made available to you, through a separate and
        specific license; you may reach out to MAHATTA to discuss a buy-out arrangement.
        </div><div class="mt-1"> 2.3.  MAHATTA reserves the rights in the content, materials, and, Services where not
        specifically granted to you herein.
        </div><div class="mt-1"> 2.4.  This EULA is effective until terminated by you or MAHATTA. Your rights under this
        EULA will terminate automatically if you fail to comply with any of its terms.
        </div>
        </div>
        <div class="mt-2">
        <h3>3.  Title:</h3>
    <div class="mt-1"> 3.1.  All title, rights, and ownership (including without limitation intellectual property rights)
        in and to the content, Website and Services shall remain with MAHATTA. Except for those
        rights which have been expressly granted under this EULA, no other rights are granted to
        you, whether express or implied.</div>
    </div>
        <div class="mt-2">
            <h3>
                4.  Definitions:</h3>
    <div class="mt-1">4.1.  “Comp” means Content licensed without a fee solely for the User’s internal evaluation to
        determine whether the Content is appropriate for the User’s intended use as either Rights
        Managed Content or Royalty-Free Content, for a limited trial period of 30 days only;
    </div><div class="mt-1">4.2.  “Content” means all content available for license from the Website, and includes Visual
        Content and Music Content;
    </div><div class="mt-1">4.3.  “Contributor” means any person who contributes Content to the Website;
    </div><div class="mt-1">4.4.  "Editorial" means Image(s) and Footage appearing under the Editorial tab/section of the
        Website.
    </div><div class="mt-1"> 4.5.  "Footage" means any moving images, animations, films, videos or other audio/visual
        representations, video elements, visual effects elements, templates, graphics packs, and
        motion design projects excluding still images, recorded in any format;
    </div><div class="mt-1">4.6.  "Image(s)" means still photographs, drawings, paintings, graphics, and the like;
    </div><div class="mt-1">  4.7.  “Invoice” means the Content specific invoice issued by MAHATTA to the User upon
        purchase of a license hereunder;
    </div><div class="mt-1"> 4.8.  “Music Content” means any musical compositions, master recordings, and any other
        recordings containing sounds or a series of sounds, in all formats, now known and
        hereinafter developed;
    </div><div class="mt-1"> 4.9.  “Product” means the end product created by usage of the Content according to the terms
        provided herein in any through all media now known or hereafter devised;
    </div><div class="mt-1"> 4.10.  "Production" means all versions of a single audio-visual project or all versions of a single
        audio-only project in which the Music Content is synchronized to narration in the context
        of a podcast episode, radio documentary, radio advertisement, or other similar audio-only
        production, including in in-context trailers and promotional materials.
    </div><div class="mt-1"> 4.11.  “Rights Managed Content” means Content licensed for a fee on a per-use basis and
        expressly designated as “Rights Managed” or “RM” by MAHATTA.
    </div><div class="mt-1">4.12.  “Royalty-Free Content” means Content licensed for an unlimited number of uses for a
        one-time flat fee and expressly designated as “Royalty-Free” or “RF” by MAHATTA.
    </div><div class="mt-1"> 4.13.  “use” means to copy, reproduce, modify (except as expressly prohibited herein), edit,
        synchronise, perform, display, broadcast, publish, or otherwise make use of the Content;
    </div><div class="mt-1">   4.14.  “User” means any user accessing, installing, using the Website/ Services;
    </div><div class="mt-1">   4.15.  “Visual Content” means Images, Footage and Editorial content.</div>
    </div>
        <div class="mt-2">
        <h3>
            5.  Subscription Models :</h3>
    <div class="mt-1">5.1.  MAHATTA hereby grants you a non-exclusive, non-transferable, personal right to use,
        modify (except as expressly prohibited herein) and reproduce such content throughout
        the term and territory as expressly permitted by the specific, and relevant license and
        subject to the limitations set forth herein.
    </div><div class="mt-1">  5.2.  Subscription on basis of number Users:
        5.2.1.  A Single User License enables one User to download and use the Visual Content for non-
        commercial use.<br/>
        5.2.2.  A Multiple User License enables two (2) or more users to download and use the Visual
        Content for non-commercial use.<br/>
        5.2.3.  A Premium License enables team downloads of Image(s), including use of Comp Images
        for commercial purposes, excluding the Restricted Uses.
    </div><div class="mt-1">  5.3.  Subscription on basis of Usage:
        5.3.1.  Visual Content Licenses are further divided into Standard, Enhanced and Editorial
        Licenses as well as Comp Licenses as set out below.<br/>
        5.3.2.  Music Content Licenses are divided into Standard, Enhanced and Comp Licenses as set
        out below.
    </div><div class="mt-1">   5.4.  Subscription on basis of Content:<br/>
        5.4.1.  Rights Managed Content: Subject to the terms and conditions of this EULA, and
        excluding the rights granted herein below, MAHATTA grants the User a limited, non-
        exclusive right to use the Rights Managed Content licensed hereunder to create and exploit
        the Content solely as specified in the Invoice, and expressly as limited under the type of
        License granted as per the provisions of this EULA respectively and the terms and
        conditions herein. Unless otherwise stated in the Invoice, the license granted hereunder
        for the applicable Rights Managed Content allows the User to use the Rights Managed
        Content obtained hereunder for the term specifically agreed between MAHATTA and
        you, as per your mode of subscription Except where specifically permitted on the Invoice
        for the applicable Content, the User may not distribute, publish, display or otherwise use
        in any way, the Rights Managed Content, including without limitation the Product after
        the Term. The specific types of use, and pricing is based on factors such as size, placement,
        duration of use, and geographic distribution.<br/>
        5.4.2.  Rights-Ready Content: Subject to the terms and conditions of this EULA, and excluding
        the rights granted herein below, MAHATTA grants the User a limited, non-exclusive right
        to use the Rights Ready Content licensed hereunder to create and exploit the Content
        solely as specified in the Invoice, and expressly as limited under the type of License
        granted as per the provisions of this EULA respectively and the terms and conditions
        herein. Unless otherwise stated in the Invoice, the license granted hereunder for the
        applicable Rights Managed Content allows the User to use the Rights Managed Content
        obtained hereunder for the term specifically agreed between MAHATTA and you, as per
        your mode of subscription Except where specifically permitted on the Invoice for the
        applicable Content, the User may not distribute, publish, display or otherwise use in any
        way, the Rights Managed Content, including without limitation the Product after the
        Term. The specific types of use, and pricing is based on factors such as size, placement,
        duration of use, and geographic distribution.<br/>
        5.4.3.  Royalty-Free Content: Subject to the terms and conditions of this EULA, and regardless
        of the form in or media on which the Content is delivered to the User (including, but not
        limited to electronic or online transmission, CDs or DVDs), MAHATTA grants the User a
        limited, non-exclusive, and worldwide right (except as may otherwise be specified in the
        applicable Invoice) to create and exploit the Content and/or the Product for any purpose
        authorized under this EULA. The rights granted to the User under this Clause include the
        right to make the Royalty-Free Content available to separate individuals (cumulatively
        over the Term) for the sole purpose of treating the Royalty-Free Content to create the
        Product. The User must obtain an additional license and pay the additional one-time fee
        applicable to the specified Content, if the User wishes to make the Content available to
        more than 1 user, charges will be applicable per user, and there is no specific limit to the
        number of users that can have access to such content.
    </div>
    </div>
        <div class="mt-2">
        <h3>
            6.  VISUAL CONTENT LICENSES:</h3>
        MAHATTA hereby grants the User a non-exclusive, non-transferable, royalty free license to use Visual
        Content worldwide, in perpetuity, as expressly permitted by the applicable license and subject to the
        limitations set forth herein:
    <div class="mt-1"> 6.1.  Image License<br/>
        6.1.1.  Standard License grants the User the right to use Image(s) for his personal,
        non-commercial use (not for resale, download, distribution, or any
        commercial use of any kind) the Images or the right to put the Image or the
        Product to any Restricted Use as detailed in Clause 5. Under the terms of the
        Standard License, the User has the right to make use of the Image(s) via
        digital or print media, provided no Image is reproduced / viewed more than
        500,000 times in the aggregate.<br/>
        6.1.2.  Enhanced License includes the right to use the Image(s) for commercial uses
        other than multiple resales, downloading or distribution of the Image(s),
        without any limitation on the number of reproductions / views. For the sake
        of avoidance of doubt, the license under this provision will permit only one
        resale to a particular client. Communication of such resale must be made to
        MAHATTA.<br/>
        6.1.3.  Image Comp License grants the User the limited right to use watermarked,
        low resolution image as a comp ("Comp Image") solely for test or sample use
        in order to aid Users in evaluation of the Image prior to purchasing a license.
        Unless a licence is purchased, Comp Image cannot be used in any final
        materials or any publicly available materials. The User can edit the Comp
        Image but cannot remove the Indiapicture watermark, unless the Comp
        Image is licensed under this EULA.<br/>
        6.1.4.  MAHATTA retains the right to audit, inspect the records of the User to
        determine the number of views for the purposes of evaluating the payment
        terms of this License, as may be applicable.
    </div><div class="mt-1">
        6.2.  Footage License<br/>
        6.2.1.  Standard License grants the User the right to use the Footage for his personal,
        non-commercial use (not for resale, download, distribution, or any
        commercial use of any kind) and does not grant any right to put the Footage
        or the Product to any Restricted Use as detailed in Clause 6. Under the terms
        of the Standard License, the User has the right to display or distribute the
        Footage via the web, social media etc, or through live performance provided
        that the audience for such production/performance does not exceed 500,000.<br/>
        6.2.2.  Footage Comp License grants the User the limited right to use watermarked,
        low resolution Footage as a comp ("Comp Footage") solely for test or sample
        use in order to aid Users in evaluation of the Footage prior to purchasing a
        license. Unless a licence is purchased, Comp Footage cannot be used in any
        final materials or any publicly available materials. The User can edit the
        Comp Footage but cannot remove the Indiapicture watermark, unless the
        Comp Footage is licensed under this EULA.<br/>
        6.2.3.  MAHATTA retains the right to audit, inspect the records of the User to
        determine the number of views for the purposes of evaluating the payment
        terms of this License, as may be applicable.<br/>
    </div><div class="mt-1">6.3.  Editorial License
        6.3.1.  Editorial License grants the User the right to make a single, editorial use of
        an Editorial item in a news story, blog post, page of a publication etc. but
        expressly excludes commercial uses such as advertising or merchandising.<br/>
        6.3.2.  Standard License grants the User the right to make use of the Editorial item
        in a news story, blog post, page of a publication, etc. via digital or print media,
        provided no Editorial item is reproduced / viewed more than 500,000 times
        in the aggregate. Further, it is to be noted that it is for non-commercial use
        (not for resale, download, distribution, or any commercial use of any kind).<br/>
        6.3.3.  Enhanced License includes the right to use the Editorial item for more than
        500,000 reproductions and views, without any limitation on the total number
        of reproductions / views. For the sake of avoidance of doubt, the license
        under this provision will permit only one resale to a particular client.
        Communication of such resale must be made to MAHATTA.<br/>
        6.3.4.  MAHATTA retains the right to audit, inspect the records of the User to
        determine the number of views for the purposes of evaluating the payment
        terms of this License, as may be applicable.</div>
    </div>
        <div class="mt-2">
            <h3>
                7.  Restrictions on Use:</h3>
    <div class="mt-1"> 7.1.  Nothing contained in this EULA shall be deemed to grant the User any right to distribute,
        resell or transfer the Visual Content, other than as expressly provided by the license
        purchased by the User with respect to such Visual Content.
    </div><div class="mt-1"> 7.2.  The User must not submit any Content that is abusive or offensive to other Users of the
        application.
    </div><div class="mt-1">  7.3.  The User is solely and wholly responsible for all Content uploaded from his account to the
        Website. The User must not upload any copyrighted material or material that does not
        belong to him. In the event copyrighted material is uploaded by a User, the User must
        obtain appropriate permissions before submitting it to the Website.
    </div><div class="mt-1">  7.4.  The User must not upload any Content that contains any obscene or defamatory material,
        or Content that is in violation of any applicable regulations (including for sports content,
        any restrictions or credentials issued by a sports league or governing body) or industry
        codes.
    </div><div class="mt-1">  7.5.  The User must not upload Content in connection with the advertisement or promotion of
        tobacco products.
    </div><div class="mt-1">  7.6.  The User must not upload Visual Content depicting people therein (a "Model") in a way
        that a reasonable person would find offensive, including but not limited to depicting a
        Model: a) in connection with pornography, "adult videos", adult entertainment venues,
        escort services, dating services, or the like; b) in connection with the advertisement or
        promotion of tobacco products; c) in a political context, such as the promotion,
        advertisement or endorsement of any party, candidate, or elected official, or in connection
        with any political policy or viewpoint; d) as suffering from, or medicating for, a physical
        or mental ailment; or e) engaging in immoral or criminal activities.
    </div><div class="mt-1"> 7.7.  If you use content that features, models or property in connection with a subject that
        would be unflattering or unduly controversial to a reasonable person (for example,
        sexually transmitted diseases), you must indicate: (1) that the content is being used for
        illustrative purposes only, and (2) any person depicted in the content is a model. For
        example, you could say: “Stock photo. Posed by model.” No disclaimer is required for
        content marked “editorial” that is used in a non-misleading editorial manner.
    </div><div class="mt-1">  7.8.  You may not falsely represent that you are the original creator of a work that is made up
        largely of licensed content. For instance, you cannot create artwork based solely on
        licensed content and claim that you are the author.
    </div><div class="mt-1">    7.9.  The User is further prohibited from uploading Content that is illegal under any applicable
        law for the time being in force.
    </div><div class="mt-1">   7.10.  You may not use the content, Services, Website for any use which has not been specifically
        authorized to you, under the scope of this EULA. This envisages the use of the same for
        data mining, or, exploitation of metadata and tags, or otherwise.
    </div><div class="mt-1">   7.11.  MAHATTA Rights: Nothing in this Agreement prohibits MAHATTA from licensing such
        similar content to other customers. Exclusions include: all editorial uses (including but not
        limited to television and film use, documentary use, news programming, music video,
        advertorial use, all advertising related to television or film, book cover, magazine cover),
        wall décor and display, theatrical display, museum display, calendars, promotional
        products (e.g., apparel, gift wrap, mugs), posters and stationery (including postcards).
    </div>
    </div>
        <div class="mt-2">
            <h3>
                8.  Restrictions on Use – Footage:</h3>
        <div class="mt-1">  8.1.  You may not use any Footage in a multi-media production distributed via broadcast, cable
        network, OTT video service (e.g. Netflix, Hulu, Amazon), or in theatres.
    </div><div class="mt-1">  8.2.  You may not use "stills" derived from Footage except solely in connection with the in-
        context marketing, promotion, and advertising of your derivative works incorporating
            Footage, beyond the scope of this EULA.</div>
        </div>
        <div class="mt-2">
        <h3>
            9.  Restrictions on Use – Editorial:</h3>
    <div class="mt-1"> 9.1.  You may not use content marked “editorial” for any commercial, promotional, advertorial,
        endorsement, or entertainment purposes. This type of content is intended to be used only
        in connection with events or topics that are newsworthy or of general public interest.
    </div><div class="mt-1">  9.2.  You may not use any Editorial content in a multi-media production distributed via
        broadcast, cable network, OTT video service (e.g. Netflix, Hulu, Amazon), or in theatres,
        or in related promotional materials.
    </div><div class="mt-1">  9.3.  You may not use any Editorial content on a publication cover, jacket, or other packaging
        related to the underlying use.
    </div><div class="mt-1">  9.4.  You may not use any Editorial content beyond a single context for a single time, provided
        that you shall have the right to distribute that use in-context across unlimited mediums
        and distribution channels.
    </div><div class="mt-1">  9.5.  You may crop or otherwise edit content marked “editorial” to the limited extent for
        preserving technical quality, provided that the editorial integrity of the content is not
        compromised.
    </div><div class="mt-1">  9.6.  You may not use any Editorial content in a publication with a print run in excess of 500,000
        copies.</div>
    </div>
        <div class="mt-2">
            <h3> 10.  Attribution:</h3>
        <div class="mt-1">  10.1.  The User does not need to include a photo credit for commercial use, except for use of the
        Content for editorial purposes, whereby, the User must include a credit adjacent to the
        Content or in production credits. The credit should be in the following format:
        “[Photographer Name]/ via Indiapicture”.
        </div><div class="mt-1"> 10.2.  If licensed content is used in an audio/visual production where credits are accorded to
        other providers of licensed material, the User must include a credit in comparable size and
        placement. The credit should be in the following format: “[Video] [Imagery] supplied by
            [Artist Name]/ [Collection Name] via Indiapicture”.</div></div>
        <div class="mt-2">
            <h3>
                11.  MUSIC LICENSES – Scope:</h3>
        </div>
        <div class="mt-1"> 11.1.  MAHATTA hereby grants the User a non-exclusive, non-transferable, royalty free license
        to use Music Content worldwide, for the agreed term, as expressly permitted by the
        applicable license and subject to the limitations set forth herein:<br/>
        11.1.1.  Standard License grants the User the right to synchronize Music in a
        Production as well as the right to distribute via web based-viewing platforms.
        The Standard license also grants the User the right to use the Music Content
        or the Product in non-web based "industrial" contexts, which is inclusive of
        trade shows, conferences, corporate events, internal corporate use, and point
        of sale, but does not include the right to put the Content or the Product to any
        Restricted Use as detailed in Clause 7.<br/>
        11.1.2.  Enhanced License includes the right to for right to synchronize Music
        Content in a Production (and in-context trailers and promotions therefor),
        solely subject to the restrictions set out in Clause 7.<br/>
        11.1.3.  Comp License grants the User the right to synchronize watermarked Music
        Content solely for test or sample use related to a Production in order to aid
        Users in evaluation of the Music Content prior to purchasing a license. The
        Comp Music License expressly prohibits distributing Music Content to the
        public in any form or incorporating Music into any final materials. The User
        is further prohibited from removing or altering the Indiapicture watermark
        from Music Content, unless the Music Content is licensed under this EULA.</div>

        <div class="mt-2">
            <h3>
                12.  Restrictions on Use of Music:</h3>
        <div class="mt-1"> 12.1.  The User is precluded from:
        12.1.1.  Sub-licensing, re-selling, renting, lending, assigning, gifting or otherwise
        transferring or distributing to any third-party the Music or the right to use
        the Music separate and apart from the Production in which (pursuant to the
        license granted herein) it is embodied;<br/>
        12.1.2.  Reselling, redistributing, providing access to, sharing or transferring any
        Music except as specifically provided herein;<br/>
        12.1.3.  Manufacturing, distributing, selling or otherwise exploiting "records", CDs,
        MP3s or any other audio Product embodying sound alone which
        incorporates Music Content, other than an audio-only Production expressly
        described in the definition of "Production" above. For the purpose of this sub-
        section the term "records" means all forms of reproductions, whether now
        known or hereafter devised, manufacture or distributed primary for home
        use, school use, or juke box use, embodying sound alone (excluding
        synchronized material);<br/>
        12.1.4.  Using the Music Content in connection with other material that is
        pornographic, defamatory, libellous, obscene, immoral, illegal or that
        otherwise violates any right(s) of any third party(ies);<br/>
        12.1.5.  Violating export laws, restrictions or regulations, by shipping, transferring or
        exporting Music into any country in violation of any export laws, restrictions
            or regulation;<br/>
        12.1.6.  Using,  selling,  sublicensing,  reproducing,  distributing,  displaying,
        incorporating into or otherwise making Music, in whole or in part, available
        as, or as part of, production library content, or downloadable files or include
        the Music Content or any derivative work incorporating the Music Content
        in any other stock product, library, or collection;<br/>
        12.1.7.  Remixing, making a mashup, or otherwise altering the Music Content, except
        engaging in basic editing of the Music Content (e.g., setting start/stop points,
        determining fade-in/fade-out points, etc.) in connection with the exercise of
        the license granted under this EULA;<br/>
        12.1.8.  Using the Music Content in an audio-only Production in which music is the
        primary content.<br/>
        12.1.9.  The User may publish Productions incorporating Music Content on third
        party "user-generated" content distribution platforms (e.g., YouTube) (each a
        "UGC Platform"). The User may not claim ownership of the Music Content or
        otherwise register any Music Content with any UGC Platform even as
        synchronized with your own Production. If the User become aware of any
        third-party claims or any ownership interests in any Music Content, the User
            must promptly notify MAHATTA of such claim.</div></div>
        <div class="mt-2">
            <h3>
                13.  Copyright Notices:</h3>
        <div class="mt-1"> 13.1.  The Website is protected by copyright, trademark and/or other protective rights and is
        subject to copyright law and other protective laws. MAHATTA is the rightful owner or
        licensee of all rights to the Website. With the exception of the use of the Website in
        accordance with this EULA, use of MAHATTA’ Rights in any other manner is only
        permitted with the prior written consent of MAHATTA and at the sole discretion of
        MAHATTA.
        </div><div class="mt-1">  13.2.  You may use MAHATTA logo, marks, and name only for the limited purpose of
        attribution as may be necessary.
        </div><div class="mt-1"> 13.3.  All Content made available for download on the Website can be used for free for personal
        and/or commercial purposes subject to some limitations as set out in this EULA. All rights
        not expressly granted in this EULA are reserved by MAHATTA and the Contributors.
        </div><div class="mt-1"> 13.4.  In the event, where MAHATTA receives any third party notices/ claims of copyright
        infringement, and communicates the same to you, you will be obliged to cease using the
        content, delete or destroy any copies, ensure that any further transfers also comply with
        such consequences, with immediate effect. MAHATTA will provide you with replacement
            content free of charge, subject to the other terms of this EULA.</div>
        </div>
        <div class="mt-2">
            <h3>
                14.  Warranties and Representations:</h3>
        <div class="mt-1">  14.1.  MAHATTA represents and warrants that it has been granted full and sufficient right, title
        and authority by its Contributors to grant the rights and/or licenses granted to the User
        under this EULA.
        </div><div class="mt-1">  14.2.  MAHATTA further represents and warrants that for all Content licensed to the User, the
        use of such Content in accordance with this EULA will not infringe on the
        Contributor/author’s copyright.
        </div><div class="mt-1"> 14.3.  Footage and Images in their original unaltered form and used in full compliance with this
        EULA and applicable law, will not:<br/>
        14.3.1.  infringe any copyright, trademark or other intellectual property right of any
        person;<br/>
        14.3.2.  violate any third parties' rights of privacy or publicity;<br/>
        14.3.3.  depict unlawful or violent, hateful or threatening or otherwise inappropriate
        acts;<br/>
        14.3.4.  violate any Indian law, statute, ordinance, or regulation; or<br/>
        14.3.5.  Be defamatory, libellous, racist, pornographic or otherwise immoral, vulgar
        or obscene.<br/>
        </div><div class="mt-1"> 14.4.  For licensed content (excluding content marked “editorial”), MAHATTA warrants that
        your use of such content in accordance with this agreement and in the form delivered by
        MAHATTA (that is, excluding any modifications, overlays or refocusing done by you) will
        not infringe on any trademark or other intellectual property right, and will not violate any
        right of privacy or right of publicity.
        </div><div class="mt-1">  14.5.  Editorial content in the original unaltered form and used in full compliance with this
        EULA and applicable law, will not infringe a third party’s copyright, it being understood
        that the foregoing warranty does not apply to elements depicted in the Editorial content.
        </div><div class="mt-1"> 14.6.  While MAHATTA has made reasonable efforts to correctly categorise, keyword, caption
        and title the Content, MAHATTA does not warrant the accuracy of such information, of
        any metadata provided with the Content or of the audio employed by the User in the
        Footage used in the Product. For the sake of clarity, MAHATTA will not indemnify or
        have any liability in respect of any claims arising from inaccurate keyword, titles or
        descriptions or any audio in Footage.
        </div><div class="mt-1">  14.7.  Except as provided in this section above, the Content is provided “as is” without
        representation, warranty or condition of any kind, either express or implied, including,
        but not limited to, implied representations, warranties or conditions of merchantability,
        or fitness for a particular purpose. MAHATTA does not represent or warrant that the
        Content or its Website will meet your requirements or that use of the Content or Website
        will be uninterrupted or error free.
        </div><div class="mt-1">  14.8.  In case of multiple users for one account, or under one license, you represent and warrant
        that that you have full legal authority to bind your employer or client to the terms of this
        agreement. You warrant that the usage and account behaviour shall be solely your
        responsibility.
        </div><div class="mt-1">   14.9.  You further warrant that your use of the content, Website, Services under this EULA will
        not impair MAHATTA’ rights in such content, Website, and, Services in any manner
            whatsoever.</div>
        </div>
        <div class="mt-2">
        <h3>
            15.  PAYMENT, REPORTING AND AUDIT:</h3>
            <div class="mt-1">15.1.  The User hereby agrees to and is required to pay MAHATTA for all Content that the User
        obtains under the terms of this EULA, regardless of whether the User uses the Content.
        This may, as set forth in the applicable Invoice, include an obligation to pay MAHATTA a
        royalty and to submit an accounting or other record verifying the User’s use of the
        Content. Payment is due within thirty (30) days of the date on which the applicable Invoice
        is issued, or the date specified in the Invoice, whichever comes first. A late payment charge
        of one and one-half percent (1.5%) per month may be added to any unpaid balance after
        thirty (30) days. The maximum amount permitted by state law shall be imposed on each
        returned cheque.
            </div><div class="mt-1">  15.2.  MAHATTA shall have the right to conduct, with at least 07 days prior notice to the User,
        audit of the usage of the Content and/or the Product by the User and, in case of Content
        for which royalty is payable, an audit of the books of account of the User. The User shall
        make available to the inspector all data and records necessary for the inspectors to
        properly conduct such inspection and audit.
        </div><div class="mt-1"> 15.3.  In the event the inspector arrives at the finding that the User has exceeded the rights of
        usage granted to it under the EULA or that there is under-payment of royalty, MAHATTA
        shall have the option to either terminate/suspend the User’s license and/or deduct any
        difference between said reported royalties and the payable royalties payable as difference
        from the User’s registered mode of payment. Any such inspection or audit shall be at
        MAHATTA’ expense, except if the audit results show breach of the License conditions by
        the User of more than [∙] over the course of the entire period audited, in which case the
        User will pay for the audit.
        </div><div class="mt-1">   15.4.  MAHATTA does not have any return policy. Subject to the discretion of MAHATTA,
        where a case is made for valid refund, MAHATTA’s decision in that regard shall be final
            and binding.</div></div>
        <div class="mt-2">
            <h3>
                16.  Limitation of Liability:</h3>
        <div class="mt-1">    16.1.  Some materials or information accessible through the Website may be provided by third
        parties such as other Users or advertisers. These materials may include, without limitation,
        advertisements for third-party or User-provided products or services. The User may have
        opportunities on or through the Website to purchase certain products and/or services
        directly from such third parties. The User is solely responsible for any and all
        consequences of such activities, transactions and relationships that the User may conduct
        or form with other Users of the Website or other third parties. The User may make any
        purchases from such third parties at his own risk. The User acknowledges and agrees that
        MAHATTA does not recommend or endorse any third-party websites or services and has
        no responsibility or liability for the User’s purchases and/or transactions. If MAHATTA
        becomes aware of any violations of law through the Content, links to third-party websites
        or advertising published on the Website, MAHATTA hereby undertakes to immediately
        delete such Content, links or advertising.
        </div><div class="mt-1">  16.2.  MAHATTA accepts no responsibility for errors, omissions, interruptions, deletions,
        defects, delays in operation or transmission, communication line failures or unauthorized
        access or theft, destruction or modification of user communications. Likewise, MAHATTA
        is not liable for problems or technical malfunctions in connection with telephone networks
        or lines, online systems, servers or providers, computer equipment, software or for failures
        of e-mails or players due to technical problems or data jams on the internet and/or the
            Website, unless these are within the sphere of influence of MAHATTA.</div></div>

        <div class="mt-2">
            <h3>17.  Indemnification & Liability:</h3>
        <div class="mt-1">    17.1.  By accepting this EULA, you agree to indemnify and otherwise hold harmless
        MAHATTA, its officers, employees, agents, subsidiaries, affiliates, and other partners
        from any and all claims, damages (direct, indirect, incidental, special, consequential or
        exemplary) losses or demands arising out of, relating to, or resulting from (i) your use and
        access to the Website; (ii) your violation of this EULA; (iii) infringement of third party
        rights (copyrights, trademark rights, personal rights, etc.) by you or your Product. The
        indemnity obligation includes the reasonable costs of legal defence, in particular lawyer's
        fees, necessary to defend against such claims.
        </div><div class="mt-1">  17.2.  Subject to the terms hereof, and provided that you have not breached the terms of this or
        any other EULA with MAHATTA, MAHATTA will defend, indemnify, and hold you
        harmless up to the actual damages suffered by you. Such indemnification is solely limited
        to the direct damages caused to the User arising from a third-party claim directly
        attributable to MAHATTA’ breach of the express warranties and representations, together
        with associated expenses (including reasonable attorneys’ fees). Indemnification is
        conditioned upon the User notifying MAHATTA, in writing, of any such claim or
        threatened claim, no later than five (5) business days from the date you know or
        reasonably should have known of the claim or threatened claim and MAHATTA shall not
        be liable for any costs incurred in defending such a third-party claim till MAHATTA has
        had a reasonable opportunity to analyse such claim’s validity.
        </div><div class="mt-1">   17.3.  MAHATTA shall not be liable for any damages, costs or losses arising as a result of
        modifications made to the Content or due to the context in which the User made use of the
            Content.</div></div>
            <div class="mt-2">
                <h3>
                    18.  Violation of Terms and Termination of Use:</h3>
            <div class="mt-1">  18.1.  MAHATTA reserves the right to remove any Content at any time if MAHATTA has
        reasonable ground to believe that the Content is in violation of this EULA. MAHATTA
        shall be under no obligation to refund any fees paid by the User in the event that your
        account is terminated by reason of a breach.
    </div><div class="mt-1">  18.2.  MAHATTA further expressly reserves the right to take legal action, in particular to assert
                claims for damages or to file criminal charges.</div>
            </div>
        <div class="mt-2">
            <h3>
                19.  Governing Law:</h3>
        <div class="mt-1">  19.1  This EULA between MAHATTA and you shall be governed by the laws of the Republic
        of India without regard to any conflict of law principles. The exclusive forum for any
        disputes arising out of or relating to this EULA shall be New Delhi. This EULA constitutes
        the entire EULA between you and MAHATTA regarding the Application. If any provision
        of this EULA is held by a court of competent jurisdiction to be contrary to law, such
        provision will be changed and interpreted so as to best accomplish the objectives of the
        original provision to the fullest extent allowed by law and the remaining provisions of this
            EULA will remain in full force and effect.</div>
        </div>

</div>

</mat-card>
