<div class="close-btn-outer">
    <button mat-mini-fab color="warn" (click)="close()"><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content>
    <div fxLayout="row wrap">
        <h2 class="text-muted text-center">Share Lightbox</h2>
        <div fxFlex="100" fxFlex.gt-sm="100" class="p-2">
        <form [formGroup]="shareForm" (ngSubmit)="onSubmit(shareForm.value)">
            <mat-form-field appearance="outline" class="w-100 mt-2">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="shareForm.controls.email.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="shareForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
            </mat-form-field>
            <div class="text-center">


                <button  color="primary" mat-raised-button [disabled]="clicked" (click)="onSubmit(shareForm.value); ">
     Share </button>
            </div>

       </form>
        </div>
    </div>
</div>