<footer class="bg-primary footer">
    <!--<div fxLayout="row wrap" class="info-bar">-->
        <!---->
        <!--<div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">-->
            <!--<mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">-->
                <!--<mat-icon class="mat-icon-xlg text-muted m-0">card_giftcard</mat-icon>-->
                <!--<div class="content">-->
                    <!--<p>VALUE FOR MONEY</p>-->
                    <!--<span class="text-muted m-0">Get maximum value for money with every purchase.</span>-->
                <!--</div>-->
            <!--</mat-card>-->
        <!--</div>-->
        <!--<div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">-->
            <!--<mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">-->
                <!--<mat-icon class="mat-icon-xlg text-muted m-0">local_shipping</mat-icon>-->
                <!--<div class="content">-->
                    <!--<p>EXPLORE ACROSS MULTIPLE COLLECTION</p>-->
                    <!--<span class="text-muted m-0">Find engaging images and footage on a single platform-->
<!--</span>-->
                <!--</div>-->
            <!--</mat-card>-->
        <!--</div>-->
        <!--<div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">-->
            <!--<mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">-->
                <!--<mat-icon class="mat-icon-xlg text-muted m-0">monetization_on</mat-icon>-->
                <!--<div class="content">-->
                    <!--<p>LICENSE COVERAGE</p>-->
                    <!--<span class="text-muted m-0">Our royalty free and rights managed licenses protects your usage possibilities</span>-->
                <!--</div>-->
            <!--</mat-card>-->
        <!--</div>-->
        <!--<div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">-->
            <!--<mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">-->
                <!--<mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon>-->
                <!--<div class="content">-->
                    <!--<p>ONLINE SUPPORT 24/7</p>-->
                    <!--<span class="text-muted m-0">Call us: <a [href]="'telephone:8882559559'" style="color: inherit">(+91) 8882559559</a><br/>-->
                   <!--Email: <a [href]="'mailto:info@indiapicture.in'" style="color: inherit">info@indiapicture.in</a></span>-->
                <!--</div>-->
            <!--</mat-card>-->
        <!--</div>-->
        <!---->
    <!--</div>-->
    <!--<div class="divider mt-2"></div>-->
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-3 border-bottom-mute theme-container subscribe-block"
         style="margin:0px 40px;">
        <div fxFlex="100" fxFlex.gt-sm="15" fxFlex.sm="40" ngClass.xs="mt-2">
            <h3 class="col-title">Company Info</h3>
            <p class="mt-2"><a routerLink="/" class="link secondary-color">Home</a></p>
            <p class="mt-1"><a routerLink="/about" class="link secondary-color">About us</a></p>
            <p class="mt-1"><a href="https://indiapicture.in/blog" target="_blank" class="link secondary-color">Blogs</a></p>
            <!--<p class="mt-1"><a routerLink="/subscription" class="link secondary-color">Plan & Pricing</a></p>-->
        </div>
        <div fxFlex="100" fxFlex.gt-sm="15" fxFlex.sm="40" ngClass.xs="mt-2">
            <h3 class="col-title">Learn More</h3>
            <p class="mt-2"><a routerLink="/disclaimer" class="link secondary-color">Terms Of Use</a></p>
            <p class="mt-1"><a routerLink="/privacypolicy" class="link secondary-color">Privacy Policy</a></p>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="15" fxFlex.sm="40" ngClass.xs="mt-2">
            <h3 class="col-title">Need Help</h3>
            <p class="mt-2"><a routerLink="/contact" class="link secondary-color">Contact</a></p>
            <p class="mt-1"><a routerLink="/license" class="link secondary-color">EULA</a></p>
            <!--<p class="mt-1"><a href="javascript:void(0);" class="link secondary-color">FAQ</a></p>-->
            <!--<p class="mt-1"><a href="javascript:void(0);" class="link secondary-color">Sitemap</a></p>-->
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="40" ngClass.xs="mt-2" class="contact-information">
            <h3 class="col-title">Contact Information</h3>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-2 secondary-color">
                <mat-icon>location_on</mat-icon>
                <span>Building No.- 17, Street No.- 8, <br/>Sarvapriya Vihar, New Delhi <br/> 110016</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                <mat-icon>call</mat-icon>
                <span><a [href]="'telephone:8882559559'" style="color: inherit">(+91) 8882559559</a></span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                <mat-icon>mail_outline</mat-icon>
                <span><a [href]="'mailto:care@indiapicture.in'" style="color: inherit">care@indiapicture.in</a></span>
            </p>
            <h3 class="col-title2">To sell your photos</h3>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                <mat-icon>call</mat-icon>
                <span><a [href]="'telephone:8448997281'" style="color: inherit">(+91) 8448997281</a></span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                <mat-icon>mail_outline</mat-icon>
                <span><a [href]="'mailto:submission@mahatta.com'" style="color: inherit">submission@mahatta.com</a></span>
            </p>


<!--            <h3 class="col-title2">To sell your photos</h3>-->
<!--            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">-->
<!--                <mat-icon>call</mat-icon>-->
<!--                <span><a [href]="'telephone:8448997281'" style="color: inherit">(+91) 8448997281</a></span>-->
<!--            </p>-->
<!--            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">-->
<!--                <mat-icon>mail_outline</mat-icon>-->
<!--                <span><a [href]="'mailto:submission@mahatta.com'" style="color: inherit">submission@mahatta.com</a></span>-->
<!--            </p>-->
        </div>
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="40" ngClass.sm="mt-2" ngClass.xs="mt-2">
            <h3 class="col-title">Subscribe Our Newsletter</h3>
            <p>Stay up to date with the latest developments and product updates </p>
            <div class="mt-2">
            <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit(subscribeForm.value)" class="subscribe-search-form" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100" ngClass.sm="mt-2" ngClass.xs="mt-1">
                <input  formControlName="email" placeholder="Your email address..." fxFlex required>
                <button mat-raised-button  type="submit" class="mat-elevation-z0 text-muted subscribe-btn">Subscribe</button>
            </form>
            </div>
            <div class="mt-1">
                <mat-error *ngIf="subscribeForm.controls.email.errors?.required && enable">Email is required</mat-error>
                <mat-error *ngIf="subscribeForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
            </div>
            <div class="py-2">
                <a href="https://www.facebook.com/Ibudgetphoto" target="_blank">
                    <img src="../../../../assets/images/fb.jpg" width="36" matTooltip="Facebook" style="width:36px;border-radius:50px;margin-right: 10px"/>
                </a>
                <a href="https://www.instagram.com/_indiapicture/" target="_blank">
                    <img src="../../../../assets/images/insta.jpg" width="36" matTooltip="Instagram" style="width:36px;border-radius:50px;margin-right: 10px"/>
                </a>
                <a href="https://www.linkedin.com/in/indiapicture/" target="_blank">
                    <img src="../../../../assets/images/link.jpg" width="36" matTooltip="Linkdein" style="width:36px;border-radius:50px;"/>
                </a>
            </div>

        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center"
         class="copyright secondary-color theme-container">

        <p style="text-align: center">Copyright © 2022 All Rights Reserved</p>
        <!--<p>Designed & Developed by <a mat-button href="http://oxzin.com/" target="_blank">Oxzinnfotech</a></p>-->
    </div>
</footer>
