<div class="mat-table orders-table">
    <div class="mat-header-row">
        <div class="mat-header-cell">Collection</div>

    </div>
    <div  class="mat-row p-3">
        <div class="mat-cell" style="font-size: 12px;">{{getCollection(plan.collection)}}</div>
    </div>
</div>

<div mat-dialog-actions>
    <div fxLayout="row">
        <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
<!--        <button mat-raised-button color="primary" type="submit">Save</button>-->
    </div>
</div>
