<mat-card fxLayout="row wrap" fxLayoutAlign="space-around" class="mt-2">

    <h2 class="w-100 text-center py-2">PRIVACY POLICY</h2>

    <div class="content-container">


        This Privacy Policy entails the details of our collection, use and disclosure of information, including your
        personal information, within Mahatta Multimedia Private Limited.
        This Policy specifically governs the usage of information collected by us from our users of indiapicture.in and
        any associated mobile sites, applications, and/or any other services provided by us on the website, which can be
        accessed thereof. This Policy should be read in conjunction and together with the Terms of Use available at
        <a [routerLink]="['/disclaimer']">Terms of Use</a>.


        <div class="mt-2"><h3>Collection of Information</h3>
            We receive and store information about you, such as:<br/>
            <div class="mt-2"><h4>Provided By You:</h4> The following are collected, as you provide us with:
                <ul>
                    <li>Your name, e-mail address, address, postal code, financial information, inclusive of payment
                        methods, and, telephone number.
                    </li>
                    <li> Certain other information like your choice to provide further information pertaining to
                        preferences, account settings, reviews, ratings, or any other information provided to us through
                        our service, or elsewhere.
                    </li>
                </ul>
            </div>
            <div class="mt-2"><h4>As Collected Automatically:</h4> The following are collected about you, your use of
                our service, the devices used to access our Website. This information includes the following:
                <ul>
                    <li> Your activity on the Platform, which would include your search history, your search inputs,
                        services or products viewed over the Platform, visits and the time stamps;
                    </li>
                    <li> Device IDs and other unique identifiers like IP address, browser type, version, network service
                        provider details;
                    </li>
                    <li> Device and software characteristics including types and configurations, connection information,
                        statistics on page views, URLs with time stamp;
                    </li>
                    <li>Your interactions with our customer support via various support channels like e-mails,
                        messages;
                    </li>
                    <li>Service support and transaction history;</li>
                    <li>Information collected by cookies, and other technologies, also including advertisement data,
                        etc.
                    </li>
                </ul>
            </div>
            <div class="mt-2"><h4> Use of Information Collected by Us: </h4>
                <p>In order to provide you with the services of the Platform and offer you enhanced use of the features
                    of our Platform. We use your information to:</p>
                <ul class="mt-1">
                    <li>Process your registration, and provide you with your login account details;</li>
                    <li> Process your orders and payments in respect of our services;</li>
                    <li> Provide you with customized and personalized viewing options, recommendations on content;</li>
                    <li>Perform analytics and customer research, to improve our service, including the user experience
                        and the interface;
                    </li>
                    <li> To offer you certain types of services, free trials, and other applicable offers basing on your
                        eligibility.
                    </li>
                </ul>
            </div>
        </div>

        <div class="mt-2"><h3>Sharing and Disclosure of Information</h3>
            <div class="mt-1">While the Platform is the recipient of your Personal Information or Sensitive Personal
                Information, we may allow access to our associates, affiliates, for the processing and storage of
                information, provision of account to you, provision of customer support, content development and
                delivery, and other purposes as identified in the Use of Information Collected By Us section to this
                Policy.
            </div>
            <div class="mt-1"> We also engage various service providers to perform services on behalf of us enabling us
                to provide you services better. Such services may include, communications, advertising, infrastructure
                and IT, payment gateways processing payments, customer support, data analytics, conduct customer
                surveys, It is our constant endeavor to ensure that such service providers adhere to a similar standard
                of data protection and security that we have agreed to under this Policy. At times, when we offer
                promotional offers in collaboration with third party entities, we will not be responsible for the
                privacy practices of such third-party entities.
            </div>
            <div class="mt-1">We and our service providers may be required to disclose and otherwise use your personal
                and other information where we or our service providers reasonably believe that there exists the need to
                disclose to
                <ul>
                    <li>Meet or satisfy any applicable law, regulation, governmental request, or, legal process;</li>
                    <li> Enforce the agreed Terms of Use;</li>
                    <li> Address and investigate any illegal activities, which may also include financial frauds, any
                        security or technical issues;
                    </li>
                    <li> Protect itself against any harm, misuse, of the property or safety of our users and the public,
                        as required or permitted by law.
                    </li>
                </ul>
            </div>
            <div class="mt-1"> In the event where there is any restructuring, reorganization, merger or sale, or any
                other transfer of assets, we shall transfer such information, including your personal information,
                subject to an agreement by the other party in respect to your personal information in a manner which is
                consistent with this Policy.
                Where you use any social plugin or social media application operated by other social media networks, you
                shall be subject to the terms of use and privacy policies of such entities themselves.
            </div>
        </div>
        <div class="mt-2"><h3> Interaction with Other Applications, Platforms</h3>
            You may be using other third party platforms, to access our services, which may have policies pertaining to
            privacy which may be different from ours and we recommend you to read them carefully.
        </div>
        <div class="mt-2"><h3>Cross Border Transfers</h3>
            In our sharing of your information outside of the Indian Economic Area and any other region with specific
            and comprehensive data protection laws, we will ensure that your information is transferred only in
            accordance with this Privacy Policy and as may be prescribed and permitted by the laws applicable thereof.
        </div>
        <div class="mt-2"><h3> Your Rights and Your Preferences</h3>
            <div class="mt-1">     At all times, you have the right to access your personal information, or update, or correct the personal
            information we hold about you. This can be easily done by you through your “Account Settings”, which
            empowers you with multiple information about your account, which may relate to your contact information,
            payment information, and several other relevant information about your account. To access this section, and
            make the relevant changes, you must be logged into your Account.
            You also have the right to make a request to us, for deleting your personal information as available with
            us. You also acknowledge that deletion of some of these details may result in cancellation of your
                registration.</div>
                <div class="mt-1">    Where you have any questions, or wish to make additional requests, you may write to our Privacy Office at
            compliance@mahatta.com . We strive to respond to any requests made with the specific exercise of data
            protection rights available under various applicable data protection laws. We retain information as required
            or permitted by the applicable laws or regulations, including to retain your choices and preferences, for
            billing purposes, and to meet and fulfill other requirements as specified in this Privacy Policy. Reasonable
            measures are made to destroy or to remove identifiers in a secure manner when it is no longer required to be
                    retained with us.</div>
            <div class="mt-1"> If you no longer wish to receive certain communications from us via e-mail, messages, you can access the
            “Account Settings” and make your choice to unsubscribe. Please note that you cannot however, unsubscribe to
            service related correspondence made by us to you, such as messages regarding your transactions,
            subscriptions. You can also choose not to receive any push notifications, as may be enabled on your devices;
                this can be done through your device settings.</div>
        </div>
        <div class="mt-2"><h3> Data Security</h3>
            We understand that we must safeguard your personal information available with us. We use and employ
            reasonable technical, organizational, logical, physical, administrative measures to protect your personal
            information against any unauthorized access, modification, or, use.
        </div>
        <div class="mt-2"><h3> Children</h3>
            You must be 18 years of age or older to subscribe to our services. In jurisdictions, where the age of
            majority is older than 18, in such case, you must satisfy such requirement to become a member. Any
            individual under the age of 18 utilizing the service, may do so only with the strict involvement,
            supervision and approval of a parent or a legal guardian.
        </div>
        <div class="mt-2"><h3> Cookies and Advertising</h3>
            We and our service providers use cookies and other technologies, such as web beacons, as well as several
            advertising identifiers for several purposes. This is done to understand the users better and offer you with
            tailored marketing and advertising services. If you do not consent to the use of cookies, use of similar
            technologies by us, you may at any time adjust your browser settings and delete or disable such cookies.
            However, this may result in the absence of tailored or user interest based advertisements.
        </div>
        <div class="mt-2"><h3> Changes in Privacy Policy</h3>
            We may update this Privacy Policy from time to time. Your continued use of our Platform constitutes in your
            acceptance of our Terms of Use and this Privacy Policy. We encourage you to review this section periodically
            to review any changes made. If you do not wish to accept any changes made to this Privacy Policy, you may
            cancel your use of our services.
        </div>

        <!--<div class="mt-2"> <h3>Personal Information</h3>-->
        <!--<div class="mt-1"> Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. This notice applies to all information collected or submitted on this website. We use the information you provide about yourself only for our use. We do not share this information with outside parties. How to contact us - Should you have other questions or concerns about these privacy policies, please contact us at info@indiaPicture.in</div>-->

        <!--<div class="mt-1">  IndiaPicture collects certain personal information from users of this site. Guests are required to provide certain personal information in order to access images, and authorized users must provide certain contact and account information in order to access and download images. IndiaPicture uses this information for internal purposes (to process your order and any invoices, to maintain or update your IndiaPicture account, or to send you updates about special offers, new services, special promotions, and noteworthy news and events). IndiaPicture does not sell or rent information about its customers to third parties.</div>-->

        <!--<div class="mt-1">   Your profile information (such as age and gender) in the registration form is used by IndiaPicture to create personalized content, services, and advertising on the IndiaPicture web site. IndiaPicture may also profile your web site activity in order to accurately track your account and provide you with IndiaPicture products and services that correspond to your interests. IndiaPicture may also compile data in aggregate form so that we may better understand the users that are visiting our site. For example, we may produce reports on the most popular search terms by collecting general search term data based on individual searches. Aggregate data is anonymous and does not contain any personal information that identifies a user.</div>-->

        <!--</div>-->

        <!--<div class="mt-2"> <h3>Change of Address or Contact Information</h3>-->
        <!--<div class="mt-1"> IndiaPicture offers its members the choice to not receive e-mails or updates about special benefits, promotions, or offers from IndiaPicture. If you no longer wish to receive these updates, or you wish to unsubscribe from IndiaPicture membership, please complete our Feedback form and let us know in the comments section that you would like to be removed from the mailing list.</div>-->
        <!--</div>-->

        <!--<div class="mt-2"> <h3>Security</h3>-->
        <!--<div class="mt-1"> IndiaPicture has a number of operational functions in place to protect the confidentiality of personal information. However, perfect security on the Internet does not exist, and IndiaPicture does not warrant that its site is impenetrable or invulnerable to hackers.</div>-->
        <!--</div>-->

        <!--<div class="mt-2"> <h3>Cookies</h3>-->
        <!--<div class="mt-1"> www.indiapicture.in uses cookies to track user preferences and in order to achieve a correspondingly optimal website design. Cookies are small files which are deposited temporarily (for 2 years) on your hard drive. This allows easier navigation and a high degree of user-friendliness on a website. Cookies can be used to determine whether a connection has already been made from your computer to our site. These cookies allow your computer to be identified and establish a reference link to the individual user. Most browsers accept cookies automatically. Furthermore, you can delete the www.indiapicture.in cookie from your system folder at any time. If you choose not to accept cookies, it can limit the functions available to you on our site.</div>-->
        <!--</div>-->

        <!--<div class="mt-2"> <h3>E-mail</h3>-->
        <!--<div class="mt-1"> IndiaPicture does not rent or sell e-mail lists. IndiaPicture may send you e-mail to notify you about your recent order; this will be sent to the e-mail address you provide to IndiaPicture. If you have questions about IndiaPicture's privacy policy or concerns about personal information you have supplied to IndiaPicture, please contact us at: info@indiapicture.in.</div>-->
        <!--</div>-->
    </div>

</mat-card>