mat-icon, img {
  margin: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  background: #666666;
  padding: 3px;
}
.mat-icon-button .mat-icon, .mat-icon-button i {
  line-height: 30px;
  font-size:18px;
}
.mat-button-focus-overlay{
  background: transparent;
}
