<mat-card fxLayout="row wrap" fxLayoutAlign="space-around" class="mt-2">

    <h2 class="w-100 text-center py-2">ABOUT US</h2>

<div class="content-container">
    <ul>
        <li>IndiaPicture brings together over 4.2 crore relevant Indian & International images for you from across more
            than 250 renowned collections. And puts you in-charge. With help from our user-friendly search, access to
            comp images, online pricing & payment, and most importantly, immediate downloads, finding the image was
            never easier.
        </li>
        <li>IndiaPicture brings together image creativity at its best, with a user-friendly interface, and easy access
            to downloading the images, all in an effort to have you maximize your time on using the image, not finding
            it.
        </li>
        <li>The Creative India in all its hues and forms, of faces, emotions, business & lifestyle, it’s gen X & gen
            NXT, of religions, customs, and relationships. Magazines, Books, Book covers, Newspapers, Annual Reports,
            Education Materials, and many more… images are critical to enhance every visual appeal. And editor’s today
            have a difficult job finding appropriate quality images for them on a daily basis.
        </li>
        <li> This massive collection of royalty-free images is the world's fastest growing independent library.</li>
        <li> Search for images from our library. Just enter the keyword in the Search box at the top. Use the Advanced
            search options to specify your search results or browse our categories to see related images. You can zoom
            in to images to see up-close.
        </li>
        <li> IndiaPicture is fun and easy to use. Explore the community to meet new and veteran contributors and
            designers from all over the world. If you ever have any questions or concerns, contact our client relations
            & support team.
        </li>
        <li> It's free to become a member. Find the perfect stock image, and start downloading right away. You can even
            contribute your own images, illustrations, and video, for sale on IndiaPicture.
        </li>
    </ul>

   <div class="mt-2"> <h3>Content Type</h3>
       <div class="mt-1"> Content available from IndiaPicture is generally of two kinds: Rights Managed and Royalty-Free. Rights Managed
    content is licensed for specific predefined usages. The usage fees are based on the usage requested. Royalty-Free
           content is licensed for non-exclusive use of an image or CD for a one-time flat fee.</div></div>

</div>

</mat-card>