.mat-dialog-container{
    overflow: visible !important;
    .close-btn-outer {
      position: relative;
      button {
        position: absolute;
        right: -44px;
        top: -44px;
      }
    }
  //.mat-form-field-infix{
  //  width:1px;
  //}
  .mat-raised-button{
    width: 100%;
  }
  }
