.top-navbar {
  background: #ffffff !important;
  a {
    color: #303030 !important;
  }
  .horizontal-active-link, .activelink{
    border-bottom: 6px solid #455a64;
  }
}
.mat-button{
  color: #fff !important;
}

.mat-icon-button{
  height: inherit !important;
}
.active{
  color:blue !important;
}
.activebtn {
  background: #000 !important;
  height: inherit !important;
  width: 280px !important;
  strong {
    color: #ffffff !important;
  }
  .mat-icon{
    color: #ffffff !important;
  }
}

