.main-slider {
  //height: 550px;
  width: 99.5vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;


}

.heading{
  font-size: 38px;
  text-align: center;
  //margin-top: 30px;
}
.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin-top:30px;
  margin-bottom:10px;
}

.pricingdiv ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0 60px!important;
  display: flex;
  flex-direction: column !important;
  //border-top-left-radius: 50px;
  //border-bottom-right-radius: 50px;
  color: #000000;
  background: #ffffff;
  position: relative;
  //width: 250px; /* width of each table */
  //margin-right: 10px; /* spacing between tables */
  //margin-bottom: 1em;
  transition: all .5s;
  //padding: 0;
  //box-shadow: 0 0 2px gray;
}

.pricingdiv ul.theplan:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan li{
  //margin: 10px 30px;
  position: relative;
}

.pricingdiv .dark-list:hover{
  //margin: 10px 30px;
  background: #eeeeee;
}
.pricingdiv ul.theplan li.title{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  text-transform: none;
  border-bottom: 3px solid white;
  //background: #455a64;
  color: #0a0821;
  margin-bottom: 10px;
}

//.pricingdiv ul.theplan:nth-child(2n){
//  background: #e53499;
//}
//
//.pricingdiv ul.theplan:nth-child(3n){
//  background: #2a2cc8;
//}

//.pricingdiv ul.theplan:last-of-type{ /* remove right margin in very last table */
//  margin-right: 0;
//}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan>li:last-of-type{
  text-align: center;
  padding: 20px;
  //margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}

.pricingdiv button.pricebutton{
  text-decoration: none;
  padding: 10px 50px;
  background: transparent;
  //margin: 0;
  border-radius: 5px;
  //color: #4ec2b5;
  border: 1px solid #0a0821;
  font-weight: bolder;
  font-size: 16px;
  text-transform: none;
  border-radius: 50px;
  cursor: pointer;
  //max-width: 0px;
  //align-items: center;
}

.price{
  //font-size: 48px;
  font-size: 28px;
  //font-weight: bolder;
}
.medium{
  font-size: 24px;
  vertical-align: top;
}
.small{
  font-size: 18px;
  color:#607D8B !important ;
  font-weight: bolder;
}
.small-title{
  font-size: 10px !important;
}

.dark-list
{
  font-size: 16px;
  //color:#607D8B !important;
  //font-weight: bold;
  padding: 8px 30px;
}
::ng-deep .app.grey .mat-radio-outer-circle{
  border: 2px solid #0a0821;
}
.hightlight-text{
  padding: 15px 10% 15px 10%;
}

@media only screen and (max-width: 500px) {
  .pricingdiv ul.theplan{
    border-radius: 0;
    width: 100%;
    margin-right: 0;
    padding: 0 15px !important;
  }

  .pricingdiv ul.theplan:hover{
    transform: none;
    box-shadow: none;
  }

  .pricingdiv a.pricebutton{
    display: block;
  }


  .dark-list
  {
    padding: 8px 0;
  }

  .pricingdiv{
    margin: 30px 5px;
  }
  .hightlight-text{
    padding: 0px;
  }

}

.mat-card{
  padding: 5px !important;
}
.info-bar {
  .mat-card {
    padding: 25px !important;
    height: 150px;
    p{
      font-size: 18px;
      color: #fff !important;
    }

  }
}
.overlay{
  background: rgba(0,0,0,0.4);
}
